body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 380px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 20px;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.top h1 {
  margin: 0;
  font-size: 22px;
}

.top p {
  margin: 5px 0 20px;
  font-size: 12px;
  opacity: 0.8;
}

.tempBox {
  margin: 10px 0 20px;
}

.tempBox h2 {
  font-size: 48px;
  margin: 0;
}

.tempBox p {
  font-size: 12px;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
}

.btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00c6ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #0072ff;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.error {
  color: red;
}